$font__path: "/assets/fonts/";

// fonts Skeleton
$font-base: 62.5% !default;
$line__height-factor: 1.5;
// stylelint-disable value-keyword-case
$font-family-sans-serif: Plex, Roboto, "Helvetica Neue", sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font__size--xs: 12px;
$font__size--s: 14px;
$font__size--m: 16px;
$font__size--l: 18px;
$font__size--xl: 24px;
$font__size--xxl: 32px;
