.o-0 {
  opacity: 0 !important;
}
.o-25 {
  opacity: 0.25 !important;
}
.o-50 {
  opacity: 0.5 !important;
}
.o-75 {
  opacity: 0.75 !important;
}
.o-100 {
  opacity: 1 !important;
}

//hover
.o-0-hover:hover {
  opacity: 0 !important;
}
.o-25-hover:hover {
  opacity: 0.25 !important;
}
.o-50-hover:hover {
  opacity: 0.5 !important;
}
.o-75-hover:hover {
  opacity: 0.75 !important;
}
.o-100-hover:hover {
  opacity: 1 !important;
}
