<main>
    <div class="container">
        <section>
            <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutGap="2rem">
                <div fxFlex="50%">
                    <h1>Abacus D3 demos</h1>
                    <div class="header-nav--container">
                        <ul class="ul ul__horizontal header-nav--list">
                            <li><a [routerLink]="['/heatmap']" [routerLinkActive]="['is-active']">Popular Times Week
                                    (single heatmap matrix)</a>
                            </li>
                            <li><a [routerLink]="['/popular-times']" [routerLinkActive]="['is-active']">Popular Times
                                    Timeline (Leaflet Map)</a>
                            </li>
                            <li><a [routerLink]="['/presence-stats']" [routerLinkActive]="['is-active']">Presence
                                    Stats</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div fxFlex="50%">

                </div>
            </div>
        </section>
    </div>
</main>