<main>
    <div class="container">
        <section>
            <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutGap="2rem">
                <div fxFlex="50%">
                    <h1>Presence Stats</h1>

                </div>
                <div fxFlex="50%">
                    <ng-template #form_progress>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </ng-template>
                    <app-presence-form *ngIf="presencePois$ | async as options; else form_progress" [options]="options">
                    </app-presence-form>
                </div>
            </div>
        </section>

        <section>
            <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutGap="2rem">
                <div fxFlex="50%">


                </div>
                <div fxFlex="50%">

                </div>
            </div>
        </section>

        <section class="mt-4 mb-4">

            <ng-template #loadingPresenceGender>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-template>
            <p class="mb-2"><strong>Género</strong>(%)</p>
            <app-presence-gender *ngIf="cards$ | async as cards; else loadingPresenceGender" [data]="cards">
            </app-presence-gender>

        </section>



        <ng-template #loadingCards>

            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-template>

        <section>

            <div fxLayout="row" fxLayout.gt-sm="row" fxLayoutGap="2rem">
                <div fxFlex="100%">
                    <app-presence-cards *ngIf="cards$ | async as cards; else loadingCards" [cards]="cards">
                    </app-presence-cards>

                </div>

            </div>
        </section>

        <section class="mt-4 mb-4">

            <ng-template #loadingPresenceTotal>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-template>
            <p class="mb-2"><strong>Presencia</strong>(%)</p>
            <app-presence-total *ngIf="cards$ | async as cards; else loadingPresenceTotal" [data]="cards">
            </app-presence-total>

        </section>





    </div>
</main>