// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// https://material.angular.io/guide/typography
@use "@angular/material" as mat;
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

// mat palette
$primary-palette: (
  50: lighten($primary, 90%),
  100: lighten($primary, 80%),
  200: lighten($primary, 60%),
  300: lighten($primary, 40%),
  400: lighten($primary, 20%),
  500: $primary,
  600: darken($primary, 20%),
  700: darken($primary, 40%),
  800: darken($primary, 60%),
  900: darken($primary, 80%),
  A100: desaturate($primary, 50%),
  A200: desaturate($primary, 25%),
  A400: saturate($primary, 25%),
  A700: saturate($primary, 50%),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$secondary-palette: (
  50: lighten($secondary, 90%),
  100: lighten($secondary, 80%),
  200: lighten($secondary, 60%),
  300: lighten($secondary, 40%),
  400: lighten($secondary, 20%),
  500: $secondary,
  600: darken($secondary, 20%),
  700: darken($secondary, 40%),
  800: darken($secondary, 60%),
  900: darken($secondary, 80%),
  A100: desaturate($secondary, 50%),
  A200: desaturate($secondary, 25%),
  A400: saturate($secondary, 25%),
  A700: saturate($secondary, 50%),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.define-palette($primary-palette, 500);
$my-accent: mat.define-palette($secondary-palette, 500);

$my-typography: mat.define-typography-config(
  $font-family: "Plex",
);

$my-button-level: mat.define-typography-level(
  $font-family: Plex,
  $font-weight: 700,
  $font-size: 1.4rem,
  $line-height: 1.5,
  $letter-spacing: normal,
);

$my-custom-typography-config: mat.define-typography-config(
  $font-family: 'Plex, "Helvetica Neue", sans-serif',
  $button: $my-button-level,
);

$primary-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: $my-typography,
  )
);

@include mat.core-theme($primary-theme);
@include mat.all-component-themes($primary-theme);
@include mat.core($my-custom-typography-config);

/* BUTTONS COLORS */

/* Success syling */
.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: $green;
}

.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success,
.mat-chip.mat-success {
  color: #f0fff3;
  background-color: $green;
}

.mat-icon-button.mat-success {
  color: $green;
}

// fix material stuff
.mat-icon,
.material-icons {
  height: auto !important;
  width: auto !important;
}

.mat-button-base {
  &[md-button] {
    padding: 0 10px;
    min-width: 48px;
    line-height: 28px;
    font-size: 14px;

    mat-icon {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &[sm-button] {
    padding: 0 8px;
    min-width: 32px;
    line-height: 24px;
    font-size: 12px;

    mat-icon {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.mat-chip {
  justify-content: center;
}

.mat-form-field{
  width: 100%;
}
  div.mat-form-field-infix {
    width: 100%;
    min-width: 100%;
  }